body {
    display: flex;
    justify-content: center;
    font-family: "IranSans";
}

.main {
    background-color: white;
    width: 500px;
    height: 582px;
    display: flex;
    flex-direction: row;
    padding: 50px;
    box-shadow: 0px 0px 20px 10px #ecebe9;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#form-register {
    display: flex;
    flex-direction: column;
}

#titr {
    margin: 20px;
}

#titrpp {
    color: rgb(16, 76, 215);
    font-size: normal;
}

#fullname,
#emailuser,
#nationalCode,
#emailuser,
#pass,
#phoneNumbers {
    border: 1px solid #E8F0FE;
    border-radius: 20px;
    background-color: #E8F0FE;
    padding: 15px;
    width: 470px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#fullname,
#emailuser,
#nationalCode,
#emailuser,
#pass,
#phoneNumbers:focus {
    outline: none;
}


#educationLevel {
    border: 1px solid #E8F0FE;
    border-radius: 20px;
    background-color: #E8F0FE;
    padding: 15px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "IranSans";
}

#educationLevel:focus {
    outline: none;
}

option {
    border: 1px solid rgb(232, 240, 254);
    border-radius: 20px;
    background-color: rgb(232, 240, 254);
    padding: 15px;
    width: 500px;
    font-family: "IranSans";
}

#Gender {
    margin: 20px;
}

#rememberMe:hover {
    cursor: pointer;
    color: #007aff;
}

#vorodhesab {
    color: #000080;
    text-decoration: none;
}

#sabtnam {
    background-color: #000080;
    border: 1px solid #000080;
    border-radius: 10px;
    color: white;
    height: 65px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}

#sabtnam:hover {
    cursor: pointer;
}


#google {
    border: 2px solid rgb(238, 238, 238);
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: larger;
    border-radius: 10px;
}

#google:hover {
    cursor: pointer;
    opacity: 0.7;
}

#forget {
    color: rgb(16, 76, 215);
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

#forget:hover {
    cursor: pointer;
    color: #007aff;
}

img {
    width: 120px;
    height: 120px;
    margin-right: 150px;
    text-align: center;
    padding-right: 10px;
}

.invalid {
    border: 2px solid red !important;
}

.error-message,
#genderError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

#sabt {
    text-align: center;
}

#google {
    border: 2px solid rgb(238, 238, 238);
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: black;
    border-radius: 10px;
}

#google:hover {
    cursor: pointer;
    opacity: 0.7;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
