body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    /* افزودن ارتفاع کامل به بدن */
    overflow: hidden;
    /* جلوگیری از اسکرول بدنه */
}

.sidebar {
    width: 200px;
    background-color: #e8f0fe;
    padding: 20px;
    height: 100vh;
    font-size: 18px;
    position: fixed;
    /* ثابت کردن sidebar */
    top: 0;
    right: 0;
}

.content {
    margin-right: 258px;
    /* افزودن margin برای جایگاه sidebar */
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    /* اجازه اسکرول به محتوای داخلی */
    height: 100vh;
    /* تنظیم ارتفاع برای تطابق با بدن */
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.product-table {
    width: 88%;
    margin-right: 80px;
    border-collapse: collapse;
}

.product-table th {
    font-size: 25px;
}

.product-table th,
.product-table td {
    padding: 10px;
    text-align: center;
}

.product-table tr {
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #483baa;
}

.product-table img {
    width: 150px;
    height: 218px;
    border-radius: 16px;
}

.btn-edit,
.btn-delete {
    background-color: #f4f4f4;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.btn-edit {
    background-color: #483baa;
    border: 1px solid #483baa;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.btn-delete {
    background-color: #483baa;
    border: 1px solid #483baa;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    height: 20px;
    width: 20px;
}

.product-name {
    font-size: 18px;
    margin: 10px 0;
}

.product-price {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
    direction: rtl;
}

.product-description {
    font-size: 16px;
    color: #6c757d;
}
